<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Postit · Own Your Content</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation" class="navbar" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="/images/post-it-brand.png" >
            </a>
        </div>
            <%= if @user_signed_in? do %>
            <div class="is-hidden-desktop">
             <div class="navbar-end">
              <div class="navbar-item" >
                <%= link "New Post", to: Routes.post_path(@conn, :new), class: "button is-primary" %>
              </div>
              </div>
            </div>
            <% end %>

     <div class="navbar-menu">
     <div class="navbar-item">
      <%= link "Posts", to: Routes.post_path(@conn, :index), class: "button is-text" %>
      </div>
      </div>
     
      <%= if @user_signed_in? do %>
        <div class="navbar-menu">
        <div class="navbar-end">
        <div class="navbar-item">
             <%= link "New Post", to: Routes.post_path(@conn, :new), class: "button is-primary" %>
        </div>
          <% else %>
           <div class="navbar-item">
          <a class="button is-primary" href="/signup">
            <strong>Sign Up</strong>
          </a>
          </div>
          <div class="navbar-item">
          <a class="button is-primary" href="/login">
            Log in
          </a>
          <%end%>
        </div>
        </div>
        </div>
    </div>    

    </div>
        </nav>
        </div>
        
      </section>
    </header>
    <main role="main" class="section">
      <%= unless is_nil(get_flash(@conn, :info)) do %>
    <div class="notification is-info" role="alert"><%= get_flash(@conn, :info) %></div>
  <% end %>
  <%= unless is_nil(get_flash(@conn, :error)) do %>
    <div class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></div>
  <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
  <script></script>
</html>
