/* app.css */

@tailwind base;

@tailwind components;

/* Put your custom components here */
@tailwind utilities;
@import 'editor.css';


/* Put your custom utilities here */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700');

body {width:100%; height:100%; padding: 0; margin: 0;}

.posts-in-list {
  @apply leading-relaxed tracking-normal overflow-auto;
}

.posts-in-list ol, ul{
    margin-left: 0;
    padding-left: 40px;
}

.posts-in-list li {
  @apply list-disc;
}

.posts-in-list p {
  @apply mb-8;
}

.posts-in-list p a {
  @apply text-blue-500;
  text-decoration: none;
  padding: 2px;
 }

 .posts-in-list p a:hover {
  text-decoration: underline;
}

.posts-in-list p a:active {
  color: black;
}

.posts-in-list p a:visited {
  color: purple;
}

.posts-in-list blockquote {
  @apply my-5;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}